<h1>Routing</h1>
<div>
    <ul>
        <li>
            <a routerLink="services">Services</a>
        </li>
        <li>
            <a routerLink="child">child Component Open</a>
        </li>
        <li>
            <a routerLink="first">First Component Open</a>
        </li>
        <li>
            <a routerLink="second">Second Component Open</a>
        </li>
        <li>
            <a routerLink="edit/1">First Employee</a>
        </li>
        <li>
            <a routerLink="edit/2">Second Employee</a>
        </li>
        <li>
            <a routerLink="edit/3">Third Employee</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>