<h3>Dynamic-validation !</h3>
<form #from="ngForm">
    <div class="form-group">
        <label for="ContactPre">Choose Contact Preferences: </label>
        <input required type="radio" name="contactpreference" value="Email" class="form-control">Email
        <input required type="radio" name="contactpreference" value="Email" class="form-control">Phone Number
    </div>

    <div class="form-group">
        <label for="Email">Email: </label>
        <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"  type="text" name="Email" value="Email" class="form-control">
    </div> 
    <div class="form-group">
        <label for="Phone">Phone: </label>
        <input type="text" name="Phone" value="Phone" class="form-control">
    </div>
</form>