<app-list-employee></app-list-employee>
<app-inline-test-comp></app-inline-test-comp>
<br>
<h3>Gender Pipe Ex: </h3>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
    </tr>
    <tr *ngFor="let item of persons">
        <td>{{item.id}}</td>
        <td >{{item.name |genderPipe: item.gender}}</td>
        <td appChangeDirective>{{item.gender }}</td>
    </tr>  
</table>
<br>
<app-page-not-found></app-page-not-found> 
<app-routingcomp></app-routingcomp> 

<!-- <h1>Getting Started wiht Angular App</h1>
<br>
<app-databindings></app-databindings>
<hr>
<app-reativeforms></app-reativeforms>
<hr>
<br>
<app-formmodule></app-formmodule>
<br>
<hr>
<app-ngif></app-ngif>
<hr>
<app-ng-switch></app-ng-switch>
<hr>
<br>
<app-ng-for></app-ng-for>
<hr>
<br>
<app-required-field-validation></app-required-field-validation>
<hr>
<br>
<app-childcomponent [Item]="data" (DataEvent)="GetData1($event)"></app-childcomponent>
<br>
<div>
    <form #d="ngForm" (ngSubmit)="ChangeValue(d.value)">
        <input type="text" name="txtname" ngModel>
        <button>Submit</button>
    </form>
</div>
<hr>
<app-bootstrapstyles></app-bootstrapstyles>
<hr>
<app-radiobutton></app-radiobutton>
<hr>
<app-routingcomp></app-routingcomp>
<hr>
<br><br>
<app-previewphoto></app-previewphoto>
<hr>
<br>
<app-form-validation></app-form-validation>
<hr>
<app-pipe></app-pipe> -->