<h2>ng-switch works!</h2>

<div [ngSwitch]="color">
    <ng-template [ngSwitchCase]="'red'">The color is red</ng-template>
    <ng-template [ngSwitchCase]="'blue'">The color is blue</ng-template>
    <ng-template [ngSwitchCase]="'green'">The color is green</ng-template>
    <ng-template [ngSwitchDefault]>The color is not red, blue, or green</ng-template>
</div>

<div [ngSwitch]="tabs">
    <ng-template [ngSwitchCase]="'1'">Tab one</ng-template>
    <ng-template [ngSwitchCase]="'2'">Tab Two</ng-template>
    <ng-template [ngSwitchCase]="'3'">Tab Three</ng-template>
    <ng-template [ngSwitchDefault]>Nothing selected</ng-template>
</div>